# VENV
.venv/

# CACHE
pancakes/abstract/__pycache__/
pancakes/models/__pycache__/
pancakes/valid/__pycache__/
pancakes/tools/__pycache__/
pancakes/sql/__pycache__/
pancakes/orm/__pycache__/
pancakes/.pytest_cache/
pancakes/__pycache__/
tests/__pycache__/
.pytest_cache/

# USELES DIRECTORY
pancakes/data/
data/

# PROJECT CONF FOR PYPI
dist/
*.egg-info

# Configuracion PanCakesORM
.env