# VENV
.venv/

# CACHE
pancakes/.pytest_cache/
pancakes/__pycache__/
pancakes/cook/__pycache__/
pancakes/datatype/__pycache__/
pancakes/tool/__pycache__/
pancakes/query_validator/__pycache__
.pytest_cache/
tests/__pycache__/

# USELES DIRECTORY
pancakes/data/
data/

# PROJECT CONF FOR PYPI
dist/
*.egg-info

# Configuracion PanCakesORM
.env